// Part 1 - Set up the component
var TopLevel = React.createClass({
  render: function (){
    return (
      <div>
        <h1> Say Hi </h1>
      </div>
    )
  }
})

// Part 2 - Set up our app data
var TopLevel2 = React.createClass({
  render: function(){
    var friendsList = this.props.app_data

    var jsxRendering = friendsList.map(function(name){
      return <p>{name}</p>
    })

    return (
      <div>
        <h1>Say Hi </h1>
        {jsxRendering}
      </div>
    )
  }
})

// Part 3 - Handle Events + Changing State
var TopLevel3 = React.createClass({
  getInitialState: function(){
    return {
      isGroupHappy: false
    }
  },

  _handleClick: function(){
    console.log('click heard on button')

    if (this.state.isGroupHappy === true){
      this.setState({
        isGroupHappy: false
      })
    } else {
      this.setState({
        isGroupHappy: true
      })
    }
  },

  render: function(){
    var friendsList = this.props.app_data

    var jsxRendering = friendsList.map(function(name){
      return <p>{name}</p>
    })

    if (this.state.isGroupHappy === true) {
      var div_stylezzz = "happy"
    } else {
      var div_stylezzz = "not-happy"
    }

    return (
      <div className={div_stylezzz}>
        <h1>The Best Cohort</h1>
        <button onClick={this._handleClick}>Change Mood</button>
        {jsxRendering}
      </div>
    )
  }
})

//Part 4 - When state tethers to prop
var TopLevel4 = React.createClass({
  getInitialState: function(){
    var freshPropsList = this.props.app_data.map(function(name){return name})
    return {
      theFriendsGroup: freshPropsList
    }
  },

  _popOffBye: function(){
    console.log('somebody bout to get popped')

    var groupCopy = this.state.theFriendsGroup.map(function(name){return name})

    groupCopy.pop()

    this.setState({
      theFriendsGroup: groupCopy
    })
  },

  render: function(){
    var friendsList = this.state.theFriendsGroup

    var jsxRendering = friendsList.map(function(name){
      return <p>{name}</p>
    })

    return (
      <div className={"happy"}>
        <h1>The Best Cohort</h1>
        <button onClick={this._popOffBye}>Pop Off Buddy</button>
        {jsxRendering}
      </div>
    )
  }
})
